<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>Degressif\Degressif</fullnamespace>
    <descriptive locale="en_US">
        <title>Product's discount by quantity</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Remises quantitatives par produit</title>
    </descriptive>
    <version>1.0.0</version>
    <author>
        <name>Willy SWENDRA</name>
        <email>willy@w-prog.com</email>
    </author>
    <type>classic</type>
    <thelia>2.2.0</thelia>
    <stability>prod</stability>
</module>
